@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* universal selector css code */
* {
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.justification {
    text-align: justify;
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* this is banner design CSS code */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.banner-description {
    width: 1220px;
    height: 52px;
    margin: 27px, 32px, 300px, 300px;
}

.banner-heading {
    font-size: 48px;
    font-weight: 700;
    color: rgba(13, 19, 33, 1);
    margin: 27px, 32px, 300px, 300px;
    line-height: 56px;
    margin-bottom: 24px;
}

.banner {
    background-image: url("../assets/Hero-bg.png");
    height: 652px;
}

.banner-image {
    margin-top: 26px;
    margin-bottom: 32px;
}

.contact-me-btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    position: static;
    width: 208px;
    height: 66px;
    padding: 21px 24px 21px 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 44px;
}

/* development container section why web dev? */
.development-main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.development-section {
    width: 1140px;
    height: 1180px;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.development-container-heading {
    margin-top: 110px;
}

.development-container-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 25px;
    line-height: 1.5;
}

.development-container {
    position: static;
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 48px 0px;
}

.container {
    position: static;
    width: 946px;
    display: flex;
    flex-direction: column;
    padding: 48px;
    align-self: self-end;
    margin: 32px 0px;
    border-radius: 16px;
}

.sub-container-1,
.sub-container-2,
.sub-container-3 {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    position: static;
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 32px 0px;
    gap: 98.83px;
}

.sub-container-2 {
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.sub-container1-text,
.sub-container2-text,
.sub-container3-text {
    position: static;
    width: 477px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    margin: 32px 0px;
}

.learn-more {
    position: static;
    width: 149px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
    color: rgba(13, 19, 33, 1);
    margin: 32px 0px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
}

/* inspiration content style */

.parent-inspiration-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.inspiration-container {
    width: 852px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 38px 0px;
}

.inspiration-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width: 1140px;
    height: 576px;
    padding: 32px;
    margin: 30px 0px;
}

.inspiration-heading {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.inspiration-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
    opacity: 0.7;
}

.video-1 {
    width: 100%;
    height: 100%;
    max-width: 1076px;
    max-height: 550px;
    border-radius: 16px;
}

/* tech stack style in css starts here */
.target-heading {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.target-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.target-heading,
.target-description {
    justify-content: center;
    text-align: center;
    position: static;
    text-wrap: balance;
    margin-top: 20px;
}

.stack-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;
}

.skill-1 {
    position: static;
    width: 364px;
    height: 300px;
    padding: 40px;
    margin: 0px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    background-color: rgba(255, 76, 30, 0.05);
}

.skill-2 {
    position: static;
    width: 364px;
    height: 300px;
    padding: 40px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    border-radius: 16px;
    background-color: rgba(0, 76, 232, 0.05);
}

.skill-3 {
    position: static;
    width: 364px;
    height: 300px;
    padding: 40px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    background-color: rgba(255, 76, 30, 0.05);
}

.stack-title,
.stack-description {
    margin: 16px 0px;
}

.stack-title {
    font-size: 24px;
    font-weight: 800;
}

span a {
    text-decoration: underline;
    color: black;
    font-weight: 700;
    font-size: 16px;
}

/* support section css code */
.parent-support-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.support-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/handshake.jpg");
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    width: 1140px;
    height: 314px;
    justify-content: center;
    text-align: center;
    border-radius: 16px;

}

.support-heading {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin: 26px 0px;
}

.support-description {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 24px 0px;
}

.feedback-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-top: 50px;
}

.input-field {
    position: static;
    width: 548px;
    height: 57px;
    position: static;
    width: 548px;
    height: 57px;
    margin: 0px 16px;
    padding: 19px 20px 19px 20px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.submit-btn {
    position: static;
    width: 120px;
    height: 58px;
    position: static;
    width: 120px;
    height: 58px;
    border-radius: 8px;
    margin: 0px 16px;
    background: rgb(255, 255, 255);
}

/* Footer link section */
.footer-link-section {
    position: absolute;
    width: 1440px;
    height: 90px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    margin-left: 230px;
    margin-top: 45px;
    background-color: rgba(13, 19, 33, 0.03);
}

.main-footer-container {
    position: static;
    width: 1140px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 32px 0px;
}