@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* universal selector css code */
* {
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* this is banner design CSS code */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.banner-description {
    width: 1220px;
    height: 52px;
    margin: 27px, 32px, 300px, 300px;
}

.banner-heading {
    font-size: 48px;
    font-weight: 700;
    color: rgba(13, 19, 33, 1);
    margin: 27px, 32px, 300px, 300px;
    line-height: 56px;
    margin-bottom: 24px;
}

.banner {
    background-image: url("../assets/Hero-bg.png");
    width: 100%;
    height: 652px;
}

.banner-image {
    margin-top: 26px;
    margin-bottom: 32px;
}

.contact-me-btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    position: static;
    width: 208px;
    height: 66px;
    padding: 21px 24px 21px 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 44px;
}

/* development container section why web dev? */
.development-main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.development-section {
    width: 1140px;
    height: 1180px;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.development-container-heading {
    margin-top: 110px;
}

.development-container-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 25px;
    line-height: 1.5;
}

.development-container {
    position: static;
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 48px 0px;
}

.container {
    position: static;
    width: 946px;
    /* height: 336px; */
    display: flex;
    flex-direction: column;
    padding: 48px;
    flex: none;
    align-self: self-end;
    margin: 32px 0px;
    border-radius: 16px;
}

.sub-container-1,
.sub-container-2,
.sub-container-3 {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    position: static;
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
    gap: 98.83px;
}

.sub-container-2 {
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.sub-container1-text,
.sub-container2-text,
.sub-container3-text {
    position: static;
    width: 477px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}

.learn-more {
    position: static;
    width: 149px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
    flex: none;
    order: 1;
    color: rgba(13, 19, 33, 1);
    flex-grow: 0;
    margin: 32px 0px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
}

/* inspiration content style */

.parent-inspiration-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.inspiration-container {
    width: 852px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 38px 0px;
}

.inspiration-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width: 1140px;
    height: 576px;
    padding: 32px;
    margin: 30px 0px;
}

.inspiration-heading {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.inspiration-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
    opacity: 0.7;
}

.video-1 {
    width: 100%;
    height: 100%;
    max-width: 1076px;
    max-height: 550px;
    border-radius: 16px;
}

/* tech stack style in css starts here */
